@red: #be1b1b;
@green: #299c23;

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body, html, #main {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.circle {
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  &.red {
    background: @red;
  }
  &.green {
    background: @green;
  }
}