* {
  margin: 0;
  padding: 0;
  border: 0;
}
body,
html,
#main {
  height: 100%;
  width: 100%;
  position: relative;
}
#main {
  float: left;
}
.circle {
  position: absolute;
  background: #000;
  border-radius: 50%;
}
.circle.red {
  background: #be1b1b;
}
.circle.green {
  background: #299c23;
}
