@red: #be1b1b;
@green: #299c23;

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body, html {
  height: 100%;
  position: relative;
}

#visual {
  position: absolute;
  height: 100%;
  left: 0;
  right: 300px;
  overflow: auto;
  .circle {
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
    &.red {
      background: @red;
    }
    &.green {
      background: @green;
    }
  }
}

#control{
  float: right;
  width: 300px;
  height: 100%;
  background: #f5f5f5;
  border-radius: 0;
  border: 0;
  margin: 0;
  border-left: 1px solid #ddd;
  img{
    float: left;
    margin: 0 1px 20px;
  }
}